<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>Meetings</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body 		{ padding-top:80px; word-wrap:break-word; }
		</style>
	</head>
	<body>
	<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Total events<span class="label label-info">{{ meetings.length }}</span></h1>
        </div>
        <input class="search" type="text" ng-model="query.title" placeholder="Search...">
        <!-- TODO LIST -->
        <div id="meeting-list" class="row">
            <h2>Active meetings</h2>
            <div class="col-sm-6 col-sm-offset-6">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="meeting in meetings" ng-if="meeting.active===true">
                    <label>
                        <input type="checkbox" ng-click="completeMeeting(meeting._id)"> {{ meeting.title }}</br> {{ meeting.description }} </br> {{ meeting.active }}
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteMeeting(meeting._id)">Delete</button>
                    </label>
                </div>

            </div>
        </div>

        <div id="meeting-list" class="row">
            <h2>Completed meetings</h2>
            <div class="col-md-6 col-md-offset-6">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="meeting in meetings" ng-if="meeting.active===false">
                    <label>
                        {{ meeting.title }}</br> 
                        {{ meeting.description }} </br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteMeeting(meeting._id)">Delete</button>
                    </label>
                </div>

            </div>
        </div>


        <!-- FORM TO CREATE TODOS -->
        <div id="meeting-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I wanna meet those crazy people" ng-model="formData.title">
                        <input type="text" class="form-control input-lg text-center" placeholder="For..." ng-model="formData.description">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createMeeting()">Add</button>
                </form>
            </div>
        </div>

    </div><!-- end container -->
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/controllers/main.js"></script>
</body>
</html>