 /*============================
   =========== HEADER ============
   ============================= */

.header {
    z-index: 999;
    height: 64px;
}

 .logo h1 {
   color: #fff;
   margin: 10px 130px;
   font-family: orator;
 }

 .inbox-button {
     display: block;
     margin: 0 auto;
     position: fixed;
     top: 15px;
     right: 70px;

   &:hover {
     cursor: pointer;
   }

   i {
     font-size: 2em;
     display: block;
     margin: 0 auto;
     width: auto;
     height: auto;
   }
 }

 .message-alert {
     position: absolute;
     top: 0;
     right: 0;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background: #D74040;
 }

 .message-alert span {
     display: block;
     width: 16px;
     height: 16px;
     text-align: center;
     font-size: 0.6em;
     color: #fff;
 }

 .message-box {
     position: fixed;
     width: 500px;
     min-height: 250px;
     background: #fff;
     top: 75px;
     right: 40px;
     padding: 10px;
     font-size: 1em;
     z-index: 1100;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .close-message-box {
   display: block;
   text-align: right;
   width: 100%;
   margin-right: 25px;

   &:hover {
     cursor: pointer;
   }
 }

 .inbox-button:hover .message-box {
     display: block;
 }

 .messagebox-message {
     width: 100%;
     border-bottom: 1px solid #000;
     overflow: hidden;
     padding: 5px 0;
     position: relative;
 }

 .messagebox-message > div {
     float: left;
 }

 .messagebox-icon {
     width: 64px;
 }

 .messagebox-icon img {
     width: 56px;
     height: 56px;
     display: block;
     margin: 0 auto;
 }

 .messagebox-content {
     width: 404px;
 }

 .messagebox-delete {
   position: absolute;
   top: 5px;
   right: 5px;

   &:hover {
     cursor: pointer;
   }
 }

 /* =============================
    =========== OPTIONS BOX ============
    ============================= */


 .options-button {
   display: block;
   margin: 0 auto;
   position: fixed;
   top: 15px;
   right: 25px;

   &:hover {
     cursor: pointer;
   }

   i {
     font-size: 2em;
     display: block;
     margin: 0 auto;
     width: auto;
     height: auto;
   }
 }

 .options-box {
   position: fixed;
   width: auto;
   background: #fff;
   top: 75px;
   right: 40px;
   padding: 10px;
   font-size: 1em;
   z-index: 1100;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }


 /* =============================
    =========== MENU ============
    ============================= */

.menu-button {
    position: fixed;
    top: 36px;
    left: 40px;
    z-index: 300;

    &:hover {
        cursor: pointer;
    }

    i {
        font-size: 2em;
    }
}

.menu {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 300;
    /*background: #2c3e50;*/
    background: #fff;
    border: 1px thin rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 700;

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
    }   

    li {
         width: 100%;
    }

    a {
        display: block;
        padding: 10px 0;
        font-size: 1.6em;
        color: #211400;
        font-weight: 700;
        width: 100%;
        padding-left: 20%;
        text-align: left;
        line-height: auto;
    }

    i {
        margin-right: 20px;
    }
}

.menu ul li:hover {
    background: #2c3e50;
    background: #2B2B2B;
    background: #EA8B00;
}

.menu ul li:hover a {
    color: #fff;
}

.profile-block .image-wrapper {
    border: 1px soldi #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 80px auto 10px;
}

.profile-block img {
    width: 100%;
    height: 100%;
}

.profile-block .profile-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.notifications {
  border-radius: 50px;
  background: #D74040;
  font-size: 0.6em;
  color: #fff;
  margin-left: 3px;
  position: relative;
  top: -2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.menu-mobile {
  display: none;
}

/*** BACKDROP **/
 .messages-backdrop,
 .options-backdrop {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1050;

   &:hover {
     cursor: default;
   }
 }



