/* =============================
   ========== GENERAL ==========
   ============================= */

body {
  margin: 0;
  height: 100%;
  padding-top: 0;
}

a:hover {
  text-decoration: none;
}

.content {
  width: 100%;
  position: relative;
  padding: 100px 100px;
}








