/* =============================
   ========== GENERAL ==========
   ============================= */

body {
  margin: 0;
  height: 100%;
  padding-top: 0;
}

a:hover {
  text-decoration: none;
}

.content {
  width: 100%;
  position: relative;
  padding: 100px 100px;
}


/* =============================
   ========== DIALOG ==========
   ============================= */

.modal-dialog {
  width: 80%;
}

md-dialog {
  width: 80%;
}

.datepickers input {
  width: 80%;
  margin: 0 auto;
}

.buttons div {
  width: 50%;
}

.dropdown-wrap {
  position: relative;
  width: 100%;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

.caret {
  position: absolute;
  right: 15px;
  top: 40%;
  border-top: 8px solid #BDBDBD;
  border-right: 8px solid transparent;
  border-bottom: 0 dotted;
  border-left: 8px solid transparent;
}

md-select {
  z-index: 999;
}

.buttons div button {
  width: 200px;
  display: block;
  margin: 10px auto;
}

.modal-btn {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
}

.form {
  width: 80%;
  margin: 20px auto;
}

md-input-container {
  width: 100%;
}

md-select {
  width: 90%;
  margin-bottom: 30px;
}

md-select span {
  width: 100%;
}

md-option {
  width: 100%;
}

.datetime-pickers > div {
  width: 50%;
}

.date-header {
  width: 100%;
  text-align: center;
}

/******* bOotstrap dropdown *******/
.visibility > div {
  width: 50%;
}

.inviteDropdown,
.inviteDropdown > div {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
}

.dropdown-menu {
  width: 100%;
  border: none;

}

.form input,
.form select {
  margin: 10px auto;
  width: 100%;
}





