.settings {
	width: 80%;
	margin: 0 auto;

	input[type="number"]{
		text-align: center;
	}

	h1 {
		text-align: center;
	}
}

.settings-save {
	width: 100%;
}

.savesettings-button {
	width: 250px;
	margin: 0 auto;
	display: block;
}