.content {
    width: 100%;
}

.singlemeeting-display {
    width: 50%;
}

.single-meeting-display {
  width: 40%;
  position: fixed;
  height: 100%;
  top: 64px;
  right: 0;
  overflow-y: scroll;
  padding: 0 20px 120px;
  margin-top: 50px;
  margin-left: 50%;
  z-index: 1000;
}

.single-meeting {
    width: 90%;
    margin: 0 auto;
    min-width: 400px;
    position: relative;

  .meeting-header {
    width: 100%;
  }

  .meeting-icon {
    top: 10px;
    right: 60px;
  }

  .md-button.md-fab.edit-button {
    right: 10px;
    top: 10px;
  }
}

.single-meeting-content {
  margin-top: 20px;
}

.single-meeting-card-header {
  overflow: hidden;
  background: $primary-color;
}

.single-meeting-step-back {
  float: left;
}

.edit-single-meeting-button,
.delete-single-meeting-button {
  float: right;
}

.single-meeting-step-back,
.edit-single-meeting-button,
.delete-single-meeting-button {
  color: #fff;
  font-size: 2em;
  padding: 3px 8px;
}

/* =============================
   ========== COMMENT ==========
   ============================= */

.comment-form div {
    width: 100%;
}

.comments {
    min-width: 50%;
}

.single-meeting-display .comments {
  width: 100%;
}

.comment {
    margin: 5px auto 5px 10px;
  padding: 10px 15px;
  background: #d9ddf0;
  width: 70%;
  position: relative;
}

.delete-comment {
  border-radius: 50%;
  background: #BBC7D3;
  color: #fff;
  font-weight: 700;
  display: none;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1.1em;

    &:hover {
        cursor: pointer;
        background: none;
        color: #D74040;
    }
}

.comment:hover .delete-comment {
        display: inline-block;
    }

.comment-form textarea {
    resize: vertical;
}