<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../../bower_components/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href=".../../bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css">
        <link rel="stylesheet" href="../../public/css/style.css"> 
        <link rel="stylesheet" href="../../public/css/mapbox.css"> 
        <link rel="stylesheet" href="../../public/css/profile.css"> 
        <link rel="stylesheet" href="../../public/css/singleMeeting.css">
        <link rel="stylesheet" href="../../public/css/admin.css">   
	</head>