<div class="map animate-show" ui-keydown="{esc: 'disableCreateMode($event)'}" ng-show='viewMode ==="map"'>

    

    <div class="map-container" ng-click="createMeeting()" ng-dblclick="showDialog('lg')">>
        <map zoom="{{zoom}}"
             disable-default-u-i="true"
             disable-double-click-zoom="true"
             draggable="true"
             keyboard-shortcuts="false"
             max-zoom="{{maxZoom}}"
             min-zoom="{{minZoom}}"
             tilt="45"
             styles="{{mapStyles.bright}}"
             map-type-id="ROADMAP">
            <marker position="{{meeting.position}}"
                    ng-repeat="meeting in meetings | filter: filterCurrentUser | filter: filterByFriends | filter: filterInvited | filter: filterJoined | filter: filterByDistance | filter: filterByActive | filter: filterByCategory | filter: search | filter: filterByDate "
                    icon="../public/images/{{meeting.category.icon}}.png"
                    on-click="openInfoBox(event, meeting)"
                    draggable="{{checkDraggable(meeting)}}"
                    on-dragend="getPosition(meeting, marker)"></marker>
            <!-- on-click="showInfoWindow(event, meeting)" -->

        </map>
        <div class="infobox-wrapper">
            <div id="infobox">
                <div class="infobox-title"><a href="meetings/{{infoboxMeeting._id}}"> {{ infoboxMeeting.title}}</a></div>
                <div class="infobox-text">
                   {{ infoboxMeeting.description }}
                </div><!-- end content -->
                <div class="infobox-footer">
                    <div class="infobox-time">{{infoboxMeeting.startDate | date: 'd MMMM yyyy' }} в {{ infoboxMeeting.startDate | date: 'HH:mm'}}</div>
                    <div class="infobox-distance"> {{ getMeetingDistance(infoboxMeeting) }} км от вас</div>
                </div>
            </div>
        </div>
    </div>

    <md-button class="md-fab md-primary create-button" ng-click="toggleCreateEvent()"><i class="fa fa-plus"></i></md-button>
</div>

