<div class="preloader" ng-show="!contentLoaded">
    <div class="preloader-logo">
        City<i class="mdi mdi-map-marker"></i>ibe
        <div class="preloader-gif">
            <img src="../../public/images/loader2.gif"/>
        </div>
    </div>

</div>