<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../../bower_components/mdi/css/materialdesignicons.min.css">

        <link rel="stylesheet" href="../../public/css/style.css">        
	</head>
	<body ng-cloak ng-controller="mapController" ng-init="logged_in_user=<%= JSON.stringify(user)%>">
        <!--=============================== navigation ===============================-->
        <md-sidenav class="md-sidenav-left menu" id="menu" md-component-id="nav">
            <nav>
                <div class="profile-block">
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"> {{logged_in_user.facebook.name}} %></a>
                </div>
                <ul>
                    <li>
                        <a href="/profile">
                            <i class="mdi mdi-account"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="/meetings">
                            <i class="mdi mdi-map-marker-radius"></i>Встречи
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-settings"></i>Настройки
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="mdi mdi-logout"></i>Выйти
                        </a>
                    </li>
                </ul>
            </nav>
        </md-sidenav>

        

        <!--=============================== main content ===============================-->
        <md-button class="menu-button md-fab md-primary" id="menu-button" ng-click="toggleNav()"><i class="mdi mdi-menu"></i></md-button>

        <div class="content">


            <div class="map-container">
                <div id="map_canvas" ng-click="$scope.getCoords();showDialog($event)"></div>
            </div><!-- end map container -->

            <map zoom="11" 
              center="[40.74, -74.18]" 
              disable-default-u-i="true"
              disable-double-click-zoom="true"
              draggable="false"
              draggable-cursor="help"
              dragging-cursor="move"
              keyboard-shortcuts="false"
              max-zoom="12"
              min-zoom="8"
              tilt="45"
              map-type-id="TERRAIN">
            </map>

        </div><!-- end content -->
        
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/ngmap/build/ng-map.min.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&sensor=FALSE">
    </script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/services/mapService.js"></script>
    <script src="../../public/js/controllers/dialog.js"></script>
    <script src="../../public/js/controllers/map.js"></script>
</body>
</html>