<% include partials/head %>

<body ng-cloak ng-controller="mapController">
<% include partials/header %>
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="content map" ui-keydown="{esc: 'disableCreateMode($event)'}">

    <div class="map-filters">
        <div class="map-filter">
            <md-button class="md-fab currentuser-filter" ng-click="toggleCurrentUserFilter = !toggleCurrentUserFilter" ng-class="{ 'md-raised' : !toggleCurrentUserFilter }"><i class="mdi mdi-account"></i></md-button>
            <div class="filter-title">Мои</div>
        </div>
        <div class="map-filter">
            <md-button class="md-fab friends-filter" ng-click="toggleFriendsFilter = !toggleFriendsFilter" ng-class="{ 'md-raised' : !toggleFriendsFilter }"><i class="mdi mdi-account-multiple"></i></md-button>
            <div class="filter-title">Друзья</div>
        </div>
        <div class="map-filter">
            <md-button class="md-fab invited-filter" ng-click="toggleInvited = !toggleInvited" ng-class="{ 'md-raised' : !toggleInvited }"><i class="mdi mdi-account-plus"></i></md-button>
            <div class="filter-title">Приглашения</div>
        </div>
        <div class="map-filter">
            <md-button class="md-fab joined-filter" ng-click="toggleJoined = !toggleJoined" ng-class="{ 'md-raised' : !toggleJoined }"><i class="mdi mdi-account-check"></i></md-button>
            <div class="filter-title">Учавствую</div>
        </div>
    </div>

    <div class="map-container" ng-click="createMeeting()" ng-dblclick="showDialog('lg')">>
        <map zoom="{{zoom}}"
             disable-default-u-i="true"
             disable-double-click-zoom="true"
             draggable="true"
             keyboard-shortcuts="false"
             max-zoom="{{maxZoom}}"
             min-zoom="{{minZoom}}"
             tilt="45"
             styles="{{mapStyles.bright}}"
             map-type-id="TERRAIN">
            <marker position="{{meeting.position}}" ng-repeat="meeting in meetings | filter: filterCurrentUser | filter: filterByFriends | filter: filterInvited | filter: filterJoined | filter: filterByDistance | filter: filterByActive"
                    icon="../public/images/{{meeting.category.icon}}.png"
                    on-click="showInfoWindow(event, meeting)"></marker>

        </map>
    </div>

    <md-button class="md-fab md-primary create-button" ng-click="toggleCreateEvent()" target="_blank"><i class="fa fa-plus"></i></md-button>


</div>
<!-- end content -->

<% include partials/footer %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&libraries=geometry&sensor=FALSE">
</script>
<script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="../../public/js/controllers/map.js"></script>
<script src="../../public/js/controllers/dialog.js"></script>

</body>
</html>