<% include partials/head %>

<body ng-cloak ng-controller="mapController">
<% include partials/header %>
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="searchpanel" ng-show="showSearchPanel">
    <md-input-container md-no-float id="search-container">
        <label>
            <md-icon class="mdi mdi-magnify search-icon"></md-icon>
            Название, описание или имя организатора</label>

        <input ng-model="searchQuery" type="text">
    </md-input-container>
</div>

<div class="search-button">
    <i class="mdi mdi-magnify " ng-click="showSearchPanel = !showSearchPanel" ng-mouseover="showSearchPanel"></i>
</div>

<div class="content" >
    <div class="slider-outer"></div><!-- block to hide dropshadow -->

    <div class="filter-area-dropdown" ng-show="showFilterArea" duration="0.5" lazy-render>
        <!--<div class="filter-area-search">
            <md-input-container md-no-float>
                <label>
                    <md-icon class="mdi mdi-magnify search-icon"></md-icon>
                    Название, описание или имя организатора</label>

                <input ng-model="searchQuery" type="text">
            </md-input-container>
        </div>-->
        <div class="map-filters">
            <div class="map-filter">
                <md-button class="md-fab featured-filter" ng-click="toggleFeatured = !toggleFeatured" ng-class="{ 'md-raised' : !toggleFeatured }"><i class="mdi mdi-star"></i></md-button>
                <div class="filter-title">Featured</div>
            </div>
            <div class="map-filter">
                <md-button class="md-fab currentuser-filter" ng-click="toggleCurrentUserFilter = !toggleCurrentUserFilter" ng-class="{ 'md-raised' : !toggleCurrentUserFilter }"><i class="mdi mdi-account"></i></md-button>
                <div class="filter-title">Мои</div>
            </div>
            <div class="map-filter">
                <md-button class="md-fab friends-filter" ng-click="toggleFriendsFilter = !toggleFriendsFilter" ng-class="{ 'md-raised' : !toggleFriendsFilter }"><i class="mdi mdi-account-multiple"></i></md-button>
                <div class="filter-title">Друзья</div>
            </div>
            <div class="map-filter">
                <md-button class="md-fab invited-filter" ng-click="toggleInvited = !toggleInvited" ng-class="{ 'md-raised' : !toggleInvited}"><i class="mdi mdi-account-plus"></i></md-button>
                <div class="filter-title">Приглашения</div>
            </div>
            <div class="map-filter">
                <md-button class="md-fab joined-filter" ng-click="toggleJoined = !toggleJoined" ng-class="{ 'md-raised' : !toggleJoined}"><i class="mdi mdi-account-check"></i></md-button>
                <div class="filter-title">Учавствую</div>
            </div>
        </div>
    </div>

    <div class="filter-slider" ng-click="showFilterArea = !showFilterArea" ng-class="{'filter-slider-active' : showFilterArea}">
        <div class="open-filter-slider">
            <i class="mdi mdi-chevron-down" ng-class="{ 'mdi-chevron-down' : !showFilterArea, 'mdi-chevron-up' : showFilterArea }"></i>
        </div>
    </div>

    <div class="view-switcher">
        <div class="view-switch" ng-click="selectMode('map')" ng-class="{'switch-active': viewMode === 'map'}">
            <i class="mdi mdi-google-maps"></i>
        </div>
        <div class="view-switch" ng-click="selectMode('list')" ng-class="{'switch-active': viewMode === 'list'}">
            <i class="mdi mdi-view-list"></i>
        </div>
    </div>

    <div class="category-filters" ng-class="{'search-active' : showSearchPanel}">
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleSports = !toggleSports" ng-class="{ 'md-raised' : !toggleSports, 'sports-filter': toggleSports }"><span class="sports-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleOutdoor = !toggleOutdoor" ng-class="{ 'md-raised' : !toggleOutdoor, 'outdoor-filter': toggleOutdoor }"><span class="outdoor-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleOpenair = !toggleOpenair" ng-class="{ 'md-raised' : !toggleOpenair, 'openair-filter': toggleOpenair }"><span class="openair-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleMovies = !toggleMovies" ng-class="{ 'md-raised' : !toggleMovies, 'cinema-filter': toggleMovies }"><span class="cinema-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleExhibition = !toggleExhibition" ng-class="{ 'md-raised' : !toggleExhibition, 'exhibition-filter': toggleExhibition }"><span class="exhibition-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleTheater = !toggleTheater" ng-class="{ 'md-raised' : !toggleTheater, 'theater-filter': toggleTheater }"><span class="theater-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleMusic = !toggleMusic" ng-class="{ 'md-raised' : !toggleMusic, 'music-filter': toggleMusic }"><span class="music-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleFood = !toggleFood" ng-class="{ 'md-raised' : !toggleFood, 'food-filter': toggleFood }"><span class="food-filter-icon"></span></md-button>
        </div>
        <div class="category-filter">
            <md-button class="md-fab" ng-click="toggleParty = !toggleParty" ng-class="{ 'md-raised' : !toggleParty, 'party-filter': toggleParty }"><span class="party-filter-icon"></span></md-button>
        </div>
    </div>

    <% include partials/map %>
    <% include partials/list %>


</div>  
<!-- end content -->

<% include partials/footer %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOPppjaPrmNIeTA-26bef9TL-bHN7sBt8&libraries=geometry,places&sensor=FALSE">
</script>
<script type="text/javascript"
        src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="../../public/js/controllers/map.js"></script>
<script src="../../public/js/controllers/dialog.js"></script>

</body>
</html>