<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../../bower_components/mdi/css/materialdesignicons.min.css">

        <link rel="stylesheet" href="../../public/css/style.css">        
	</head>
	<body ng-controller="mapController">
        <!--=============================== navigation ===============================-->
        <md-sidenav class="md-sidenav-left menu" id="menu" md-component-id="nav">
            <nav>
                <div class="profile-block">
                    <% if (user.facebook.token) { %>
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"><%= user.facebook.name %></a>
                    <% } %>
                </div>
                <ul>
                    <li>
                        <a href="/profile">
                            <i class="mdi mdi-account"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="/meetings">
                            <i class="mdi mdi-map-marker-radius"></i>Встречи
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-settings"></i>Настройки
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="mdi mdi-logout"></i>Выйти
                        </a>
                    </li>
                </ul>
            </nav>
        </md-sidenav>

        

        <!--=============================== main content ===============================-->
        <md-button class="menu-button md-fab md-primary" id="menu-button" ng-click="toggleNav()"><i class="mdi mdi-menu"></i></md-button>

        <div class="content">


            <div class="map-container">
                <div id="map_canvas" ng-click="showModal($event)"></div>
            </div><!-- end map container -->
                   

        
            <div class="form">
                <section layout="column" layout-align="center center">
  
                        <md-input-container>
                            <label>Название встречи</label>
                            <input type="text" ng-model="formData.title">
                        </md-input-container>

                        <md-input-container>
                            <label>Описание встречи</label>
                            <input type="text" ng-model="formData.description">
                        </md-input-container>

                </section>


  
                    <section class="datetime-pickers" layout="row" layout-sm="column" layout-align="center center">
    
                            <md-input-container>
                                <label>Время встречи</label>
                                <input type="time" ng-model="formData.startTime">
                            </md-input-container>

                            <md-input-container>
                                <label>Дата встречи</label>
                                <input type="date" ng-model="formData.startDate">
                            </md-input-container>
                        
                    </section>

                <section layout="column" layout-align="center center">

                        <md-select ng-model="formData.visibility" placeholder="Эту встречу увидят...">
                            <md-option value="all">Все</md-option>
                            <md-option value="friends" default>Друзья</md-option>
                        </md-select>

                    <md-button md-no-ink class="md-primary" type="submit" ng-click="createMeeting()">Создать</md-button>
                </section>
            </div><!-- end form -->

        </div><!-- end content -->
        

  

    <!-- modal -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Create event</h3>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-lg text-center" placeholder="I wanna meet those crazy people" ng-model="formData.title">
                <input type="text" class="form-control input-lg text-center" placeholder="For..." ng-model="formData.description">
            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="createbtn" ng-click="createMeeting();ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </script>
        <!-- end modal -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&sensor=FALSE">
    </script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/controllers/map.js"></script>

    <script src="../../public/js/controllers/modalInstance.js"></script>
</body>
</html>