<% include partials/head %>

<body ng-cloak ng-controller="mapController">
<% include partials/header %>
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="content map" ui-keydown="{esc: 'disableCreateMode($event)'}">


    <div class="map-container" ng-click="createMeeting()" ng-dblclick="showDialog('lg')">>
        <map zoom="{{zoom}}"
             disable-default-u-i="true"
             disable-double-click-zoom="true"
             draggable="true"
             keyboard-shortcuts="false"
             max-zoom="{{maxZoom}}"
             min-zoom="{{minZoom}}"
             tilt="45"
             styles="{{mapStyles.papuportal}}"
             map-type-id="TERRAIN">
            <marker position="{{meeting.position}}" ng-repeat="meeting in meetings"
                    icon="../public/images/{{meeting.category.icon}}.png"
                    on-click="showInfoWindow(event, meeting)"></marker>

        </map>
    </div>

    <md-button class="md-fab md-primary create-button" ng-click="toggleCreateEvent()" target="_blank"><i class="fa fa-plus"></i></md-button>


</div>
<!-- end content -->

<% include partials/footer %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&sensor=FALSE">
</script>
<script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="../../public/js/controllers/map.js"></script>
<script src="../../public/js/controllers/dialog.js"></script>

</body>
</html>