<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>Meetings</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
	</head>
	<body>
	<body ng-controller="mapController" onload="initialize()">
    <div class="container map-container" ng-click="open()">
        <div id="map_canvas"></div>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I am a modal</h3>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-lg text-center" placeholder="I wanna meet those crazy people" ng-model="formData.title">
                        <input type="text" class="form-control input-lg text-center" placeholder="For..." ng-model="formData.description">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createMeeting()">Add</button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        

    </div><!-- end container -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&sensor=FALSE">
    </script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/map.js"></script>
</body>
</html>