<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
        
	</head>
	<body ng-controller="mapController">
        <!-------------------- navigation -------------------->
        <div class="menu" id="menu">
            <nav>
                <div class="profile-block">
                    <% if (user.facebook.token) { %>
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"><%= user.facebook.name %></a>
                    <% } %>
                </div>
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/meetings">Встречи</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </nav>
        </div>

        

        <!-------------------- main content -------------------->
        <div class="menu-button" id="menu-button"><i class="fa fa-bars"></i></div>
        <div class="content">


            <div class="map-container">
                <div id="map_canvas"></div>
            </div>
                   

        
            <div class="form">
                <input type="text" class="form-control input-lg text-center" placeholder="Название встречи" ng-model="formData.title">
                <input type="text" class="form-control input-lg text-center" placeholder="Описание" ng-model="formData.description">
                 <div class="datetime-pickers_wrapper">
                    <div class="datetime-pickers">
                        <div class="timepicker-wrapper">
                            <timepicker ng-model="formData.startTime" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
                        </div>
                        <div class="datepicker-wrapper">
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.startDate" is-open="datepickers.startDate" min-date="minDate" max-date="'2050-06-22'" datepicker-options="dateOptions" close-text="Close" class="meetings-datepicker">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                    </div>
                   

                <label class="control-label">Эту встречу увидят...</label>
                <select class="form-control input-lg" ng-model="formData.visibility">
                    <option value="all">Все</option>
                    <option value="friends" default>Друзья</option>
                </select>
                <button class="btn btn-primary" type="submit" ng-click="createMeeting()">OK</button>
            </div>
            </div><!-- end content -->
        

  

    <!-- modal -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Create event</h3>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-lg text-center" placeholder="I wanna meet those crazy people" ng-model="formData.title">
                <input type="text" class="form-control input-lg text-center" placeholder="For..." ng-model="formData.description">
            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="createbtn" ng-click="createMeeting();ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </script>
        <!-- end modal -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../public/js/menu.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwS3KmONVi8WALQdRFAt0QWjyBqB8i1F4&sensor=FALSE">
    </script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/controllers/map.js"></script>

    <script src="../../public/js/controllers/modalInstance.js"></script>
</body>
</html>