<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
        
	</head>
	<body ng-controller="meetingsController">
        <!--============== navigation ==============-->
        <div class="menu" id="menu">
            <nav>
                <div class="profile-block">
                    <% if (user.facebook.token) { %>
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"><%= user.facebook.name %></a>
                    <% } %>
                </div>
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>
        <!--============== main content ==============-->
        <div class="menu-button" id="menu-button"><i class="fa fa-bars"></i></div>
        <div class="content">
                   
            <h1 class="active-meetings">Созданные события от <%= user.facebook.name %></h1>
            <div class="meetings-display" ng-if="meeting.ownerName === user.facebook.name">


            
                <div class="meeting" ng-repeat="meeting in meetings" ng-if="meeting.active===true">
                    <div><input type="checkbox" ng-click="completeMeeting(meeting._id)"> {{ meeting.active }}</div>
                    <div class="meeting-title"><a href="api/meetings/{{meeting._id}}"> {{ meeting.title }}</a></div>
                    <div> {{ meeting._id }} </div>
                    <div>{{ meeting.description }}</div>
                    <div>{{ meeting.ownerName }}</div>
                    <div>{{ meeting.latitude }}</div>
                    <div>{{ meeting.longitude }}</div>
                    <div>{{ meeting.visibility }}</div>
                    <div>{{ meeting.startDate }}  {{ meeting.startTime | date:'shortTime'}}</div>
                    <div><button type="submit" class="btn btn-primary btn-lg" ng-click="deleteMeeting(meeting._id)">Удалить</button></div>
                </div>

                <div class="alert alert-danger" role="alert" ng-if="!meetings.length">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only"></span>
				  Встреч пока нет
				</div>
            </div>
            <a href="/map">Создать</a>

          <div id="single-meeting">
          	<div ng-view></div>
          </div>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../public/js/menu.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/controllers/meetings.js"></script>
</body>
</html>