<!doctype html>
<html ng-app="findMate"> 
	<head>
		<title>События</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../../bower_components/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">        
        
	</head>
	<body ng-cloak ng-controller="meetingsController" ng-init="logged_in_user = <%- JSON.stringify(user) %>">
       <!--=============================== navigation ===============================-->
        <md-sidenav class="md-sidenav-left menu" id="menu" md-component-id="nav">
            <nav>
                <div class="profile-block">
                    <% if (user.facebook.token) { %>
                    <div class="image-wrapper">
                        <img src="<%= picture %>" alt="<%= user.facebook.name %>">
                    </div>
                    <a href="/profile" class="profile-name"><%= user.facebook.name %></a>
                    <% } %>
                </div>
                <ul>
                    <li>
                        <a href="/profile">
                            <i class="mdi mdi-account"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="/meetings">
                            <i class="mdi mdi-map-marker-radius"></i>Встречи
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-settings"></i>Настройки
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="mdi mdi-logout"></i>Выйти
                        </a>
                    </li>
                </ul>
            </nav>
        </md-sidenav>

        

        <!--=============================== main content ===============================-->
        <md-button class="menu-button md-fab md-primary" id="menu-button" ng-click="toggleNav()"><i class="mdi mdi-menu"></i></md-button>
        <div class="content">

        <!-- tabs -->

        <md-tabs class="md-accent" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
                Item One
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                Item two
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                Item Three
            </md-tab>
        </md-tabs>

        <!-- end tabs -->
                   
            <h1 class="active-meetings">Созданные события от {{logged_in_user.facebook.name}}</h1>
            <div class="meetings-display row">

            <div layout="row">

                <div class="search">
                    <md-input-container md-no-float>
                        <label><md-icon class="mdi mdi-magnify search-icon"></md-icon>Название</label>
                        
                        <input ng-model="filterMtn.title" type="text">
                    </md-input-container>
                </div>

                <div class="search">
                    <md-input-container md-no-float>
                        <label><md-icon class="mdi mdi-magnify search-icon"></md-icon>Описание</label>
                        
                        <input ng-model="filterMtn.description" type="text">
                    </md-input-container>
                </div>

                <div class="search">
                    <md-input-container md-no-float>
                        <label><md-icon class="mdi mdi-magnify search-icon"></md-icon>Организатор</label>
                        
                        <input ng-model="filterMtn.ownerName" type="text">
                    </md-input-container>
                </div>

                

            </div>

            <div class="select-filters" layout="row">
                    <div class="select-filter">
                        <md-select  placeholder="Сортировать по категории" ng-model="filterMtn.category">
                            <md-option value=" ">Все</md-option>
                            <md-option value="{{category.name}}" ng-repeat="category in categories">{{category.name}}</md-option>
                        </md-select>
                    </div>
                    <div class="select-filter">
                        <md-select  placeholder="Сортировать по видимости" ng-model="filterMtn.visibility">
                            <md-option value=" ">Все</md-option>
                            <md-option value="{{visibility.name}}" ng-repeat="visibility in visibilities">{{visibility.name}}</md-option>
                        </md-select>
                    </div>
                </div>
            
                <div class="meeting col-sm-3 col-sm-offset-1" ng-repeat="meeting in meetings | filter: query | filter: filterMtn | orderBy: startDate" >
                    <div layout="row" class="meeting-title"><md-checkbox ng-click="completeMeeting(meeting._id)">{{ meeting._id }}</md-checkbox></div>
                    <div layout="column"><a href="api/meetings/{{meeting._id}}" ng-click="updateValue(meeting._id)"> {{ meeting.title}}</a>  </div>
                    <div layout="column">{{ meeting.description }}</div>
                    <div layout="column">{{ meeting.category }}</div>
                    <div layout="column">{{ meeting.ownerName }}</div>
                    <div layout="column">{{ meeting.visibility }}</div>
                    <div layout="column">{{ meeting.startDate | date: 'yyyy-MM-dd'}}  {{ meeting.startTime | date:'HH:mm'}}</div>
                    <div layout="column">
                        <md-button type="submit" class="md-raised md-warn delete-button" ng-click="deleteMeeting(meeting._id)">Удалить</md-button>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" ng-if="!meetings.length">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only"></span>
				  Встреч пока нет
				</div>
            </div>

            <div layout="column">
                <md-button class="md-raised md-primary create-button"><a href="/map">Создать</a></md-button>
                
            </div>
            

          <div id="single-meeting">
          	<div ng-view></div>
          </div>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../../public/js/app.js"></script>
    <script src="../../public/js/services/routingService.js"></script>
    <script src="../../public/js/controllers/meetings.js"></script>

</body>
</html>