<% include partials/head %>

<body ng-cloak ng-controller="messageController">
<% include partials/header %>
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="content">




</div>
<!-- end content -->

<% include partials/footer %>


<script src="../../public/js/controllers/message.js"></script>

</body>
</html>