<% include partials/head %>

<body ng-cloak ng-controller="messageController">
<% include partials/header %>
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="content">

<div class="message-display">
    <div class="single-message" ng-repeat="notification in currentUser.notifications">

        <div class="singlemessage-message">

            <div class="singlemessage-userimage">
                <img src="{{notification.owner.image}}" >
            </div>

            <div class="singlemessage-text">
                <div>{{ notification.created_at | date: 'yyyy-MM-dd, HH:mm'}}</div>
                <div>Ваш друг {{notification.owner.name}} приглашает вас принять участие в {{notification.meeting.title}}</div>
                <div>Когда? {{ notification.meeting.startDate }}</div>
                <div>Где? {{ notification.meeting.location }}</div>
                <div><a href="meetings/{{notification.meeting}}">Показать на карте</a></div>
            </div>

            <div class="singlemessage-icon">
                <img src="./public/images/{{notification.meeting.category.icon}}.png">
            </div>

        </div>

        <div class="singlemessage-buttons">
            <div>
                <md-button class="md-raised join-button" ng-click="declineInvitation(notification.meeting._id)"
                           ng-show="showButton(notification.meeting.invitedUsers)">Отклонить приглашение
                </md-button>
                <md-button class="md-raised join-button" ng-click="joinMeeting(notification.meeting._id)"
                           ng-show="!showButton(notification.meeting.joinedUsers)">Учавствовать
                </md-button>
                <md-button class="md-raised join-button" ng-click="unjoinMeeting(notification.meeting._id)"
                           ng-show="showButton(notification.meeting.joinedUsers)">Не учавствовать
                </md-button>
            </div>
        </div>
    </div>
</div>


</div>
<!-- end content -->

<% include partials/footer %>


<script src="../../public/js/controllers/message.js"></script>

</body>
</html>