<!doctype html>
<html ng-app="findMate">
<head>
	<title>Профиль {{currentUser.name}}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../../bower_components/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../public/css/profile.css">
    <link rel="stylesheet" href="../../public/css/style.css">

</head>
<body ng-controller="profileController">
<!--=============================== navigation ===============================-->
        <md-sidenav class="md-sidenav-left menu" id="menu" md-component-id="nav">
            <nav>
                <div class="profile-block">

                    <div class="image-wrapper">
                        <img src="{{currentUser.image}}" alt="{{currentUser.name}}">
                    </div>
                    <a href="/profile" class="profile-name"> {{currentUser.name}} </a>
                </div>
                <ul>
                    <li>
                        <a href="/profile">
                            <i class="mdi mdi-account"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="/meetings">
                            <i class="mdi mdi-map-marker-radius"></i>Встречи
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-settings"></i>Настройки
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="mdi mdi-logout"></i>Выйти
                        </a>
                    </li>
                </ul>
            </nav>
        </md-sidenav>

        

        <!--=============================== main content ===============================-->
        <md-button class="menu-button md-fab md-primary" id="menu-button" ng-click="toggleNav()"><i class="mdi mdi-menu"></i></md-button>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Профиль</h1>
		<a href="/logout" class="btn btn-default btn-sm">Выйти</a>
	</div>

    <div class="profile-container">

        <!--==== image ====-->

        <div class="image-container">
            <div class="image">
                <img src="{{currentUser.image}}" alt="{{currentUser.name}}">
                <div class="switch-image" ng-show="toggleSelectorButton" ng-click="toggleImageSelector()"><md-button class="md-fab md-primary"><i class="mdi mdi-pencil"></i></md-button></div>
            </div><!-- end image -->
            <div class="image-selector" layout="column">

                <div class="image-selector-container" ng-show="facebookImage" ng-click="selectImage(currentUser.facebook.image, facebook)">
                    <img src="{{currentUser.facebook.image}}" alt="{{currentUser.facebook.name}}" ng-class="{'image-selected' : facebookSelected"}>
                </div>

                <div class="image-selector-container" ng-show="vkontakteImage" ng-click="selectImage(currentUser.vkontakte.image, vk)">
                    <img src="{{currentUser.vkontakte.image}}" alt="{{currentUser.vkontakte.name}}" ng-class="{image-selected: vkSelected}">
                </div>

                <md-button class="md-fab md-primary select-image-button" ng-show="selectImageButton" ng-click="changeProfileImage()">
                    <i class="mdi mdi-check"></i>
                </md-button>   

            </div><!-- end selector -->
            
        </div><!-- end image contaner -->

        <div class="user-container">
            <!--==== name ====-->
            <div class="name-container container">{{currentUser.name}}</div>
            <div class="description container">
                {{currentUser.about}}
            </div>
            <div class="join-accounts container" layout="row">
                <div>
                    <md-button class="md-raised md-primary" ng-if="currentUser.facebook.token" href="/unlink/facebook">Отключить Facebook</md-button>
                    <md-button class="md-raised md-primary" ng-if="!currentUser.facebook.token" href="/connect/facebook">Подключить Facebook</md-button>
                </div>
                <div>
                    <md-button class="md-raised md-warn" ng-if="currentUser.vkontakte.token" href="/unlink/vk">Отключить Vkontakte</md-button>
                    <md-button class="md-raised md-warn" ng-if="!currentUser.vkontakte.token" href="/connect/vk">Подключить Vkontakte</md-button>
                </div>
            </div>
            <div class="delete-account container">
                <md-button class="md-raised md-warn" ng-click="showConfirm()">Удалить аккаунт</md-button>   
            </div>
        </div><!-- end user contaner -->

        
    </div><!-- end profile contaner -->

	 <md-button class="md-fab md-primary create-button" href="/map" target="_blank"><i class="fa fa-plus"></i></md-button>
</div>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../../bower_components/angular-material/angular-material.min.js"></script>
<script src="../../bower_components/angular-route/angular-route.min.js"></script>
<script src="../../public/js/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../../public/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../../bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script type="text/javascript" src="../../bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
<script src="../../bower_components/moment/moment.js"></script>
<script src="../../bower_components/angular-moment/angular-moment.min.js"></script>
<script src="../../bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>
<script src="../../public/js/app.js"></script>
<script src="../../public/js/controllers/profile.js"></script>
<script src="../../public/js/controllers/confirmRemove.js"></script>

</body>
</html>