<% include partials/head %>
<body ng-cloak ng-controller="profileController">
<% include partials/menu %>
<!--=============================== main content ===============================-->
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Under Construction</h1>
        <a href="/logout" class="btn btn-default btn-sm">Выйти</a>
    </div>


<md-button class="md-fab md-primary create-button" href="/map" target="_blank"><i class="fa fa-plus"></i></md-button>
<% include partials/footer %>
</body>
</html>