<% include partials/head %>
<body ng-cloak ng-controller="userController" ng-init="currentUser = <%= JSON.stringify(profile)%>; logged_in_user=<%= JSON.stringify(user)%>">
<% include partials/menu %>

<!--=============================== main content ===============================-->
<div class="content">
<div class="page-header text-center">
  <h1><span class="fa fa-anchor"></span> Профиль </h1>
</div>

<div class="row">


  <!-- FACEBOOK INFORMATION -->
  <div class="col-sm-6">
    <div class="well">
      <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        <div><img src="{{currentUserPic}}" alt="{{logged_in_user.name}}"></div>
        <p>
          <strong>name</strong>: {{currentUser.facebook.name}}<br>          
        </p>


    </div>
  </div>
  <!-- FACEBOOK INFORMATION -->
  <div class="col-sm-6">
    <div class="well">
      <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        <div><img src="{{logged_in_user.image}}" alt="{{logged_in_user.name}}"></div>
        <p>
          <strong>name</strong>: {{currentUser.vkontakte.name}}<br>          
        </p>


    </div>
  </div>
</div><!-- end row -->   

<md-button class="md-fab md-primary create-button" href="/map" target="_blank"><i class="fa fa-plus"></i></md-button>        

</div><!-- end content -->
        
<% include partials/footer %>
  
<script src="../../public/js/app.js"></script>
<script src="../../public/js/services/mapService.js"></script>
<script src="../../public/js/controllers/dialog.js"></script>
<script src="../../public/js/controllers/userprofile.js"></script>
</body>
</html>