/*$primary-color: #FFEA00;*/
/* yellow A400 */
/*$primary-color: #FFFF00;*/
/* yellow A200 */
/*$primary-color: #7B1FA2 /* purple 700 */
/*$primary-color: #00E5FF /* cyan */
/*$primary-color: #EF6C00 */
@font-face {
  font-family: orator;
  src: url(../fonts/OratorStd.otf); }
/* =============================
   ========== GENERAL ==========
   ============================= */
body {
  margin: 0;
  height: 100%;
  padding-top: 0; }

a:hover {
  text-decoration: none; }

.content {
  width: 100%;
  position: relative;
  padding: 100px 100px; }

/* =============================
   ========== DIALOG ==========
   ============================= */
.modal-dialog {
  width: 80%; }

md-dialog {
  width: 80%; }

.datepickers input {
  width: 80%;
  margin: 0 auto; }

.buttons div {
  width: 50%; }

.dropdown-wrap {
  position: relative;
  width: 100%; }

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0; }

.caret {
  position: absolute;
  right: 15px;
  top: 40%;
  border-top: 8px solid #BDBDBD;
  border-right: 8px solid transparent;
  border-bottom: 0 dotted;
  border-left: 8px solid transparent; }

md-select {
  z-index: 999; }

.buttons div button {
  width: 200px;
  display: block;
  margin: 10px auto; }

.modal-btn {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%; }

.form {
  width: 80%;
  margin: 20px auto; }

md-input-container {
  width: 100%; }

md-select {
  width: 90%;
  margin-bottom: 30px; }

md-select span {
  width: 100%; }

md-option {
  width: 100%; }

.datetime-pickers > div {
  width: 50%; }

.date-header {
  width: 100%;
  text-align: center; }

/******* bOotstrap dropdown *******/
.visibility > div {
  width: 50%; }

.inviteDropdown,
.inviteDropdown > div {
  width: 100%; }

.dropdown-toggle {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333; }

.dropdown-menu {
  width: 100%;
  border: none; }

.form input,
.form select {
  margin: 10px auto;
  width: 100%; }

/*============================
  =========== HEADER ============
  ============================= */
.header {
  z-index: 999;
  height: 64px; }

.logo h1 {
  color: #fff;
  margin: 10px 130px;
  font-family: orator; }

.inbox-button {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 15px;
  right: 40px; }
  .inbox-button:hover {
    cursor: pointer; }
  .inbox-button i {
    font-size: 2em;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto; }

.message-alert {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D74040; }

.message-alert span {
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 0.6em;
  color: #fff; }

.message-box {
  position: absolute;
  width: 500px;
  min-height: 250px;
  background: #fff;
  top: 40px;
  right: 0;
  padding: 10px;
  font-size: 0.8em; }

.inbox-button:hover .message-box {
  display: block; }

.messagebox-message {
  width: 100%;
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding: 5px 0;
  position: relative; }

.messagebox-message > div {
  float: left; }

.messagebox-icon {
  width: 64px; }

.messagebox-icon img {
  width: 56px;
  height: 56px;
  display: block;
  margin: 0 auto; }

.messagebox-content {
  width: 404px; }

.messagebox-delete {
  position: absolute;
  top: 5px;
  right: 5px; }
  .messagebox-delete:hover {
    cursor: pointer; }

/* =============================
   =========== MENU ============
   ============================= */
.menu-button {
  position: fixed;
  top: 36px;
  left: 40px;
  z-index: 300; }
  .menu-button:hover {
    cursor: pointer; }
  .menu-button i {
    font-size: 2em; }

.menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  z-index: 300;
  /*background: #2c3e50;*/
  background: #fff;
  border: 1px thin rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 700; }
  .menu ul {
    width: 100%;
    list-style: none;
    padding: 0; }
  .menu li {
    width: 100%; }
  .menu a {
    display: block;
    padding: 10px 0;
    font-size: 1.6em;
    color: #211400;
    font-weight: 700;
    width: 100%;
    padding-left: 20%;
    text-align: left;
    line-height: auto; }
  .menu i {
    margin-right: 20px; }

.menu ul li:hover {
  background: #2c3e50;
  background: #2B2B2B;
  background: #EA8B00; }

.menu ul li:hover a {
  color: #fff; }

.profile-block .image-wrapper {
  border: 1px soldi #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 80px auto 10px; }

.profile-block img {
  width: 100%;
  height: 100%; }

.profile-block .profile-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 30px; }

.notifications {
  padding: 5px;
  border-radius: 50%;
  background: #D74040;
  font-size: 0.6em;
  color: #fff;
  margin-left: 3px;
  position: relative;
  top: -2px; }

.display {
  width: 100%;
  overflow: hidden; }

.admin-table {
  width: 95%;
  margin: 20px auto;
  border: 1px thin rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px 20px; }

.admin-table tr:hover {
  cursor: pointer; }

.admin-table td {
  padding: 10px 10px; }

.admin-table thead td {
  font-weight: 700;
  line-height: 2em;
  border: 1px solid #fff; }

.active {
  background: #B4CDE5;
  color: #3e6d8e; }

.admin-table .friends img {
  border-radius: 50%;
  border: 1px thin #000; }

.userimg img {
  border: 1px thin #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px; }

.view-switcher {
  position: fixed;
  top: 80px;
  right: 25px;
  overflow: hidden;
  z-index: 99;
  background: #fff; }

.view-switch {
  float: left;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.2); }
  .view-switch:hover {
    cursor: pointer; }
  .view-switch i {
    font-size: 1.6em; }

.switch-active {
  background: #7e57c2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .switch-active i {
    color: #fff; }

.animate-show {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all; }

.content {
  position: relative;
  padding: 100px 0 0; }

.content-wrapper {
  width: 100%;
  height: 100%; }

#map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.map-container {
  width: 100%;
  min-height: 800px;
  height: 100vh;
  position: relative;
  top: -64px; }

map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.infobox-wrapper {
  display: none; }

#infobox {
  border: 2px solid black;
  margin-top: 8px;
  background: #333;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: .5em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 -1px #000000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000; }

/*
#infobox {
  border: 2px solid $primary-color;
  margin-top: 8px;
  background: #fff;
  color: rgba(0, 0, 0, .87);
  font-size: 12px;
  padding: .5em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 -1px #000000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
}
*/
.infobox-title {
  width: 100%;
  text-align: center; }
  .infobox-title a {
    color: #fff;
    font-weight: 700; }

.infobox-text {
  width: 100%;
  font-style: italic;
  padding-bottom: 10px;
  font-weight: 400; }

.infobox-footer {
  overflow: hidden;
  width: 100%; }

.infobox-footer > div {
  width: 50%;
  float: left; }

.infobox-distance {
  text-align: right; }

/* filter section */
.map-filters {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
  height: 106px; }
  .map-filters i {
    font-size: 2em; }
  .map-filters .map-filter {
    width: 100px;
    float: left; }
  .map-filters .md-fab {
    display: block;
    width: 56px;
    margin: 0 auto; }

.filter-title {
  width: 100%;
  text-align: center;
  color: #211400;
  position: relative;
  z-index: 10;
  margin-top: 10px; }

/* category filters */
.category-filters {
  position: fixed;
  overflow: hidden;
  padding: 5px 0;
  width: 630px;
  top: 5px;
  left: 50%;
  margin-left: -300px;
  z-index: 1020; }

.category-filter {
  width: 70px;
  float: left; }
  .category-filter .md-fab {
    height: 42px;
    width: 42px; }
  .category-filter span {
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto; }

/* filter slider */
.filter-slider {
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: 1000;
  border-style: solid;
  height: 0;
  width: 600px;
  border-color: #7e57c2 transparent transparent transparent;
  border-width: 25px 100px 0 100px;
  margin-left: -300px;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -webkit-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all; }
  .filter-slider div {
    position: relative;
    width: 100%;
    height: 25px;
    top: -25px; }
  .filter-slider i {
    font-size: 2.5em;
    display: block;
    text-align: center;
    z-index: 1010;
    color: #fff;
    position: relative;
    top: -3px; }

.filter-slider-active {
  top: 170px; }

.slider-outer {
  width: 600px;
  background: #7e57c2;
  height: 64px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -300px;
  z-index: 1010; }

.filter-area-dropdown {
  width: 600px;
  margin-left: -300px;
  height: 106px;
  background: #FFF389;
  background: #fff;
  z-index: 999;
  position: fixed;
  top: 64px;
  left: 50%;
  -webkit-transition: ease-in-out .5s all;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  transition: ease-in-out .5s all; }

.filter-area-dropdown.ng-hide {
  height: 0; }
  .filter-area-dropdown.ng-hide .map-filters {
    height: 0; }

.filter-area-search {
  background: #7e57c2;
  height: 64px; }
  .filter-area-search label {
    position: relative;
    left: 120px; }
  .filter-area-search input {
    width: 60%;
    height: 25px;
    margin: 0 auto; }
  .filter-area-search md-icon {
    position: relative;
    top: 3px;
    font-size: 1.3em; }

@media all and (min-width: 1700px) {
  .filter-area-search md-input-container {
    display: none; } }
.search-button {
  position: fixed;
  top: 18px;
  right: 110px;
  z-index: 1000; }
  .search-button:hover {
    cursor: pointer; }
  .search-button i {
    margin: 0 auto;
    width: auto;
    height: auto;
    font-size: 2.2em;
    color: #fff; }

.searchpanel {
  position: fixed;
  top: 0;
  right: 155px;
  background: #7e57c2;
  height: 64px;
  z-index: 1020;
  widows: 340px; }
  .searchpanel md-input-container {
    height: 75px; }
  .searchpanel md-input-container.md-default-theme label,
  .searchpanel md-input-container.md-default-theme .md-placeholder {
    color: #fff; }
  .searchpanel md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
    color: #fff; }
  .searchpanel md-input-container.md-default-theme .md-input {
    border-color: #fff; }
  .searchpanel md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #fff; }
  .searchpanel label {
    position: relative;
    left: -2px;
    top: -10px;
    color: #fff; }
  .searchpanel input {
    width: 100%;
    height: 25px;
    margin: 0 auto; }
  .searchpanel md-icon {
    position: relative;
    top: 3px;
    font-size: 1.3em; }

@media all and (max-width: 1699px) {
  .search-active {
    display: none; }

  .searchpanel {
    right: 50%;
    margin-right: -170px; } }
/* SPORT */
.md-button.md-default-theme.md-fab.sports-filter,
.md-button.md-default-theme.md-fab.sports-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.sports-filter:not([disabled]):focus {
  background: #2681BA; }

.sports-filter-icon {
  background: url("../images/filter icons/sport-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.sports-filter .sports-filter-icon,
.md-button.md-default-theme.md-fab.sports-filter:not([disabled]):hover .sports-filter-icon,
.md-button.md-default-theme.md-fab.sports-filter:not([disabled]):focus .sports-filter-icon {
  background: url("../images/filter icons/sport.png") no-repeat 0 0; }

/* OUTDOOR */
.md-button.md-default-theme.md-fab.outdoor-filter,
.md-button.md-default-theme.md-fab.outdoor-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.outdoor-filter:not([disabled]):focus {
  background: #629D23; }

.outdoor-filter-icon {
  background: url("../images/filter icons/outdoor-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.outdoor-filter .outdoor-filter-icon,
.md-button.md-default-theme.md-fab.outdoor-filter:not([disabled]):hover .outdoor-filter-icon,
.md-button.md-default-theme.md-fab.outdoor-filter-filter:not([disabled]):focus .outdoor-filter-icon {
  background: url("../images/filter icons/outdoor.png") no-repeat 0 0; }

/* OPEN AIR */
.md-button.md-default-theme.md-fab.openair-filter,
.md-button.md-default-theme.md-fab.openair-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.openair-filter:not([disabled]):focus {
  background: #127F45; }

.openair-filter-icon {
  background: url("../images/filter icons/openair-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.openair-filter .openair-filter-icon,
.md-button.md-default-theme.md-fab.openair-filter:not([disabled]):hover .openair-filter-icon,
.md-button.md-default-theme.md-fab.openair-filter:not([disabled]):focus .openair-filter-icon {
  background: url("../images/filter icons/openair.png") no-repeat 0 0; }

/* CINEMA */
.md-button.md-default-theme.md-fab.cinema-filter,
.md-button.md-default-theme.md-fab.cinema-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.cinema-filter:not([disabled]):focus {
  background: #454D52; }

.cinema-filter-icon {
  background: url("../images/filter icons/cinema-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.cinema-filter .cinema-filter-icon,
.md-button.md-default-theme.md-fab.cinema-filter:not([disabled]):hover .cinema-filter-icon,
.md-button.md-default-theme.md-fab.cinema-filter:not([disabled]):focus .cinema-filter-icon {
  background: url("../images/filter icons/cinema.png") no-repeat 0 0; }

/* EXHIBITION */
.md-button.md-default-theme.md-fab.exhibition-filter,
.md-button.md-default-theme.md-fab.exhibition-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.exhibition-filter:not([disabled]):focus {
  background: #5E72D7; }

.exhibition-filter-icon {
  background: url("../images/filter icons/exhibition-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.exhibition-filter .exhibition-filter-icon,
.md-button.md-default-theme.md-fab.exhibition-filter:not([disabled]):hover .exhibition-filter-icon,
.md-button.md-default-theme.md-fab.exhibition-filter:not([disabled]):focus .exhibition-filter-icon {
  background: url("../images/filter icons/exhibition.png") no-repeat 0 0; }

/* THEATER */
.md-button.md-default-theme.md-fab.theater-filter,
.md-button.md-default-theme.md-fab.theater-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.theater-filter:not([disabled]):focus {
  background: #239993; }

.theater-filter-icon {
  background: url("../images/filter icons/theater-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.theater-filter .theater-filter-icon,
.md-button.md-default-theme.md-fab.theater-filter:not([disabled]):hover .theater-filter-icon,
.md-button.md-default-theme.md-fab.theater-filter:not([disabled]):focus .theater-filter-icon {
  background: url("../images/filter icons/theater.png") no-repeat 0 0; }

/* MUSIC */
.md-button.md-default-theme.md-fab.music-filter,
.md-button.md-default-theme.md-fab.music-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.music-filter:not([disabled]):focus {
  background: #C76B0D; }

.music-filter-icon {
  background: url("../images/filter icons/music-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.music-filter .music-filter-icon,
.md-button.md-default-theme.md-fab.music-filter:not([disabled]):hover .music-filter-icon,
.md-button.md-default-theme.md-fab.music-filter:not([disabled]):focus .music-filter-icon {
  background: url("../images/filter icons/music.png") no-repeat 0 0; }

/* FOOD */
.md-button.md-default-theme.md-fab.food-filter,
.md-button.md-default-theme.md-fab.food-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.food-filter:not([disabled]):focus {
  background: #B93E92; }

.food-filter-icon {
  background: url("../images/filter icons/food-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.food-filter .food-filter-icon,
.md-button.md-default-theme.md-fab.food-filter:not([disabled]):hover .food-filter-icon,
.md-button.md-default-theme.md-fab.food-filter:not([disabled]):focus .food-filter-icon {
  background: url("../images/filter icons/food.png") no-repeat 0 0; }

/* PARTY */
.md-button.md-default-theme.md-fab.party-filter,
.md-button.md-default-theme.md-fab.party-filter:not([disabled]):hover,
.md-button.md-default-theme.md-fab.party-filter:not([disabled]):focus {
  background: #FFE60E; }

.food-filter-icon {
  background: url("../images/filter icons/party-inactive.png") no-repeat 0 0;
  background-size: cover; }

.md-button.md-default-theme.md-fab.party-filter .party-filter-icon,
.md-button.md-default-theme.md-fab.party-filter:not([disabled]):hover .party-filter-icon,
.md-button.md-default-theme.md-fab.party-filter:not([disabled]):focus .party-filter-icon {
  background: url("../images/filter icons/party.png") no-repeat 0 0; }

/* =============================
   ========== MEETING ==========
   ============================= */
.meeting-display {
  width: 95%;
  overflow: hidden;
  padding: 0 20px; }

.meeting {
  width: 30%;
  margin: 30px 15px;
  border: 1px thin rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 390px;
  position: relative;
  float: left; }
  .meeting h6 {
    margin: 8px;
    text-align: center; }

.meeting-header {
  width: 100%;
  overflow: hidden; }

.meeting-date-container {
  width: 50%;
  float: left;
  padding: 15px;
  font-size: 1em; }

.meeting-icon {
  position: absolute;
  top: 10px;
  right: 10px; }

.meeting-icon img {
  width: 64px;
  height: 64px;
  display: block; }

.meeting-content {
  padding: 15px 20px 10px;
  overflow: hidden;
  height: 118px; }

.meeting-owner {
  float: left;
  padding: 0 15px;
  width: 30%; }
  .meeting-owner img {
    border: 1px thin #fff;
    border-radius: 50%;
    margin: 0 auto;
    height: 64px;
    width: 64px;
    display: block; }

.meeting-owner_name {
  text-align: center;
  font-size: .75em; }

.meeting-text {
  float: left;
  width: 70%;
  padding: 10px 0 0; }

.meeting-title {
  font-weight: 700;
  text-align: center;
  font-size: 1.2em; }
  .meeting-title a {
    color: #000; }

.meeting-description {
  font-style: italic; }

.meeting-userlist {
  padding: 0 20px; }

.meeting .userlist img {
  border: 1px thin #fff;
  border-radius: 50%;
  margin-right: 8px;
  height: 56px;
  width: 56px; }

.meeting .join-button,
.delete-button {
  width: auto;
  padding: 10px 15px;
  display: block;
  margin: 10px auto; }

.edit-button {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 36px;
  width: 36px; }

.edit-button i {
  font-size: 1.2em; }

.meeting-footer {
  padding: 5px 0;
  background: #7e57c2;
  color: #fff;
  font-size: 1.1em;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.meeting-distance {
  float: left;
  text-align: left;
  margin-left: 20px; }

.meeting-count {
  float: right;
  margin-right: 20px; }

.meeting-footer i {
  font-size: 1.2em; }

/********* SEARCH AND FILTERS ********/
.search {
  width: 80%;
  margin: 0 auto; }

.search md-icon {
  position: relative;
  top: 3px;
  font-size: 1.3em; }

.search input {
  width: 90%; }

.select-filters {
  width: 100%; }

.select-filter {
  width: 50%; }

.create-button {
  width: 36px;
  height: 36px;
  position: fixed;
  bottom: 50px;
  right: 50px; }

.create-button i {
  color: #fff;
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 30%; }

.datepicker-wrapper {
  margin-top: 35px; }

.input-group .form-control {
  width: 100%; }

.input-group-btn > .btn {
  position: absolute;
  top: 10px; }

/* =============================
   =========== NOTIFICATIONS ============
   ============================= */
.message-display {
  width: 60%;
  margin: 0 auto; }

.single-message {
  position: relative; }

.singlemessage-message {
  width: 100%;
  overflow: hidden;
  margin: 10px auto; }

.singlemessage-message > div {
  float: left; }

.singlemessage-userimage,
.singlemessage-icon {
  width: 10%;
  min-width: 64px; }

.singlemessage-userimage img,
.singlemessage-icon img {
  width: 56px;
  height: 56px; }

.singlemessage-text {
  width: 80%; }

.singlemessage-buttons > div {
  width: 50%; }

.singlemessage-delete {
  position: absolute;
  top: 5px;
  right: 5px; }
  .singlemessage-delete:hover {
    cursor: pointer; }

.profile-container {
  overflow: hidden;
  width: 100%; }

.container {
  margin: 10px auto; }

/* =============== IMAGE ============ */
.image-container {
  position: relative;
  overflow: hidden;
  width: 50%; }

.image-container > div {
  float: left; }

.image {
  /*width: 350px;
  height: 480px;*/
  width: 50%;
  position: relative; }

.image img {
  width: auto;
  max-height: 400px;
  max-width: 100%; }

.switch-image {
  position: absolute;
  top: 10px;
  right: 20px;
  display: none; }

.image:hover .switch-image {
  display: block; }

.image-selector {
  width: 50%;
  position: relative;
  height: 400px; }

.image-selector > div {
  width: 100%;
  height: 200px; }

.image-selector img {
  /*min-width: 175px;*/
  height: auto;
  max-height: 200px;
  max-width: 80%;
  margin: 0 15px; }

.image-selector img.image-selected {
  border: 2px solid #3949AB;
  border-radius: 5px; }

.select-image-button {
  position: absolute;
  top: 45%;
  right: 5%; }

/* ========= USER ======= */
.user-container {
  width: 50%; }

.name-container {
  font-size: 1.2em; }

/* ===== join accounts ===== */
.join-accounts > div {
  width: 50%; }

.content {
  width: 100%; }

.singlemeeting-display {
  width: 50%; }

.single-meeting {
  width: 80%;
  margin: 0 auto;
  min-width: 400px; }

.comments {
  width: 50%; }

/* =============================
   ========== COMMENT ==========
   ============================= */
.comment-form div {
  width: 100%; }

.comments {
  min-width: 50%; }

.comment {
  margin: 5px auto; }

.delete-comment {
  margin-left: 20px;
  padding: 4px 5px;
  border-radius: 50%;
  background: #BBC7D3;
  font-size: 0.7em;
  color: #fff;
  font-weight: 700;
  display: none;
  text-align: center; }
  .delete-comment:hover {
    cursor: pointer;
    background: none;
    color: #D74040; }

.comment:hover .delete-comment {
  display: inline-block; }

.comment-form textarea {
  resize: vertical; }

.settings {
  width: 80%;
  margin: 0 auto; }
  .settings input[type="number"] {
    text-align: center; }
  .settings h1 {
    text-align: center; }

.settings-save {
  width: 100%; }

.savesettings-button {
  width: 250px;
  margin: 0 auto;
  display: block; }
