<div class="modal-body">

	<p>Вы уверены, что хотите удалить аккаунт? Это необратимое действие</p>
</div> <!-- end body -->

<div class="modal-footer">
	<section layout="row" layout-align="center center" class="buttons">
		<div>
	        <md-button class="md-raised" ng-click="cancel()">Отмена</md-button>
	    </div>
	    <div>
	        <md-button class="md-raised md-warn" href="/delete/{{userId}}">Удалить</md-button>
	    </div>
    </section>
</div>