<md-dialog>
	<md-content>
		<div class="form">
	        <section layout="column" layout-align="center center">

	                <md-input-container>
	                    <label>Название встречи</label>
	                    <input type="text" ng-model="formData.title" ng-required>
	                </md-input-container>

	                <md-input-container>
	                    <label>Описание встречи</label>
	                    <input type="text" ng-model="formData.description">
	                </md-input-container>

	        </section>

	        <section layout="column" layout-align="center center">
	        	<md-select ng-model="formData.category" placeholder="Выберите категорию">
				    <md-option value="Спорт" ng-selected="selected" default>Спорт</md-option>
				    <md-option value="Развлечения">Развлечения</md-option>
				</md-select>
	        </section>

	      	<div class="date-header">Время и день</div>	



	            <section class="datetime-pickers" layout="row" layout-sm="column" layout-align="center center">

	                   	<div>
	                        
	                        <!--<input type="time" ng-model="formData.startTime" min="timeNow()">-->
	                        <timepicker ng-model="formData.startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
	                    </div>


	                    <div>
	                        <!--<input type="date" ng-model="formData.startDate" min="Date.now()">-->
	                        <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.startDate" is-open="opened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
	                    </div>
	                
	            </section>

	        <section layout="row" class="visibility">
	        	<div>
	                <md-select ng-model="formData.visibility" placeholder="Эту встречу увидят...">
	                    <md-option value="Общие" ng-selected="selected">Все</md-option>
	                    <md-option value="Друзья">Друзья</md-option>
	                </md-select>
	            </div>
	            <div ng-if="formData.visibility === 'Друзья' ">
	                <div ng-dropdown-multiselect="" options="friendUsers" selected-model="invitedUsers" extra-settings="invitedUsersSettings" translation-texts="invitedUsersText" class="inviteDropdown"></div>
	            </div>
                
	        </section>
	        <section layout="row" >
                
            </section>
          

	       
	        <section layout="row" layout-align="center center" class="buttons">
	        	<div>
		            <md-button class="md-raised" ng-click="cancel()">Отмена</md-button>
	            </div>
	            <div>
		            <md-button class="md-raised md-primary" ng-click="createMeeting()">Создать</md-button>
	            </div>
	        </section>
	    </div><!-- end form -->
	</md-content>
</md-dialog>