<form name="meetingData" novalidate>
    <div class="modal-header">
        <div class="modal-step-back">
            <i class="mdi mdi-keyboard-backspace" ng-click="changeScreen()" ng-show="!screenOne"></i>
        </div>
        <div class="modal-cancel">
            <i class="mdi mdi-close" ng-click="cancel()"></i>
        </div>
    </div>
    <div class="modal-body">

        <div class="modal-screen" ng-show="screenOne">


            <section layout="row">
                <div class="dialog-title">
                    <md-input-container md-no-float>
                        <label>Название встречи</label>
                        <input type="text"
                               ng-model="formData.title"
                               ng-required="true"
                               ng-maxlength="60"
                               ng-minlength="3"
                               name="title">
                    </md-input-container>
                </div>
                <div class="dialog-location">
                    <md-input-container md-no-float class="address" >

                        <!--<md-icon class="mdi mdi-map-marker"></md-icon>-->
                        <label>Адрес</label>
                        <input type="text" ng-model="formData.location"
                               ng-required="true"
                               id="location"
                               ng-blur="codeAddress()"
                               g-places-autocomplete
                               name="address">
                    </md-input-container>
                </div>
            </section>
            <div class="form-errors">
                <div class="error-container left">
                    <div class="error"
                         ng-show="meetingData.title.$dirty && meetingData.title.$error.maxlength">
                        Название не должно быть слишком длинным, постарайтесь уложиться в 60 символов.
                    </div>
                    <div class="error"
                         ng-show="meetingData.title.$touched && meetingData.title.$error.required">
                        Пожалуйста, придумайте хоть какое-нибудь название.
                    </div>
                    <div class="error"
                         ng-show="meetingData.title.$touched && meetingData.title.$error.minlength">
                        Пожалуйста, придумайте название подлиннее.
                    </div>
                </div>
                <div class="error-container right">
                    <div class="error"  ng-show="meetingData.address.$touched && meetingData.address.$error.required">
                        Не забудьте указать адрес
                    </div>
                    <div class="error"  ng-show="invalidAdress">
                        Упс! Что-то явно пошло не так. Попробуйте выбрать адрес еще раз.
                    </div>
                </div>
            </div>




            <section layout="row" layout-align="center center">

                <md-input-container>
                    <label>Описание встречи</label>
                    <textarea ng-model="formData.description" ng-maxlength="180"></textarea>
                </md-input-container>
            </section>

            <section layout="row">


                <div class="date-picker" layout-align="center center">
                    <!-- <md-input-container md-no-float class="date-input">
                         <md-icon class="mdi mdi-calendar"></md-icon>
                         <input type="text"
                                ng-focus="openCalendar($event)"
                                datetime-picker="dd MMM yyyy HH:mm"
                                minute-step=15
                                min-date="minDate"
                                datepicker-options="dateOptions"
                                ng-model="formData.startDate"
                                is-open="openDate"
                                close-text="Закрыть"
                                init-date="initDate"
                                show-meridian=false
                                ng-required />
                     </md-input-container>-->
                    <time-date-picker ng-model="formData.startDate" ng-required="true"></time-date-picker>
                </div>
            </section>

            <section layout="column" layout-align="center center" class="dialog-categories-section">
                <p>Выберите категорию</p>

                <div class="dialog-categories">
                    <div  class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Sport')" ng-class="{ 'md-raised' : category != 'Sport', 'sports-filter': category === 'Sport' }"><span class="sports-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Outdoor')" ng-class="{ 'md-raised' : category != 'Outdoor', 'outdoor-filter': category === 'Outdoor' }"><span class="outdoor-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Open Air Activity')" ng-class="{ 'md-raised' : category != 'Open Air Activity', 'openair-filter': category === 'Open Air Activity' }"><span class="openair-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Movies')" ng-class="{ 'md-raised' : category != 'Movies', 'cinema-filter': category === 'Movies' }"><span class="cinema-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Exhibition')" ng-class="{ 'md-raised' : category != 'Exhibition', 'exhibition-filter': category === 'Exhibition' }"><span class="exhibition-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Theater')" ng-class="{ 'md-raised' : category != 'Theater', 'theater-filter': category === 'Theater' }"><span class="theater-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Music')" ng-class="{ 'md-raised' : category != 'Music', 'music-filter': category === 'Music' }"><span class="music-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Food')" ng-class="{ 'md-raised' : category != 'Food', 'food-filter': category === 'Food' }"><span class="food-filter-icon"></span></md-button>
                    </div>
                    <div class="dialog-category">
                        <md-button class="md-fab" ng-click="selectCategory('Party')" ng-class="{ 'md-raised' : category != 'Party', 'party-filter': category === 'Party' }"><span class="party-filter-icon"></span></md-button>
                    </div>

                </div>
            </section>

        </div><!-- end screen one -->

        <div class="modal-screen" ng-show="!screenOne">

            <section layout="column">
                <div class="visibility">
                    <div class="dropdown-wrap">
                        <span class="caret"></span>
                        <select class="form-control" placeholder="Эту встречу увидят..." ng-model="formData.visibility">
                            <option value="all">
                                Все
                            </option>
                            <option value="friends">Друзья</option>
                            <option value="invite">По приглашению</option>
                        </select>
                    </div>

                </div>
                <!--  <div ng-if="formData.visibility === 'invite' ">
                      <div ng-dropdown-multiselect="" options="friendUsers" selected-model="invitedUsers"
                           extra-settings="invitedUsersSettings" translation-texts="invitedUsersText" class="inviteDropdown"
                           group-by="provider"></div>
                  </div>-->
                <div class="friends-invite" ng-if="formData.visibility === 'invite' ">
                    <div class="friends-invite-header" layout="row">
                        <div class="friends-search-container">
                            <md-input-container md-no-float>
                                <label>
                                    <md-icon class="mdi mdi-magnify search-icon"></md-icon> Поиск
                                </label>

                                <input ng-model="friendsQuery" type="text">
                            </md-input-container>
                        </div>

                        <md-button class="friends-select-all" ng-class="{ 'md-raised' : !allSelected, 'md-primary' : allSelected}" ng-click="selectAll()"><i class="mdi mdi-check-all"></i>Выбрать всех</md-button>

                    </div>

                    <div class="friends-invite-list">
                        <div class="friends-invite-list-facebook invite-list">
                            <h3>Facebook</h3>
                            <div class="facebook-friend friend"
                                 ng-repeat="friend in friendUsers | filter: {provider: 'Facebook' } | filter: friendsQuery "
                                 ng-click="selectFriend(friend)"
                                 ng-class="{'friend-selected' : friend.selected}">
                                <div class="friend-image">
                                    <img src="{{friend.image}}" alt="{{friend.name}}"  width="48" height="48"/>
                                </div>
                                <div class="friend-name">
                                    {{friend.name}}
                                </div>
                                <div class="friend-check" ng-if="friend.selected">
                                    <i class="mdi mdi-check"></i>
                                </div>
                            </div>

                            <!-- if no facebook -->
                            <div class="friends-connect" ng-if="!currentUser.facebook.token">
                                <a class="btn btn-block btn-social btn-facebook" href="/connect/facebook">
                                    <i class="fa fa-facebook"></i>
                                    Подключить Facebook
                                </a>
                            </div>
                        </div>
                        <div class="friends-invite-list-vkontakte invite-list">
                            <h3>Вконтакте</h3>
                            <div class="vk-friend friend"
                                 ng-repeat="friend in friendUsers | filter: {provider: 'Вконтакте' } | filter: friendsQuery"
                                 ng-click="selectFriend(friend)"
                                 ng-class="{'friend-selected' : friend.selected}">
                                <div class="friend-image">
                                    <img src="friend.image" alt="{{friend.name}}" width="48" height="48"/>
                                </div>
                                <div class="friend-name">
                                    {{friend.name}}
                                </div>
                                <div class="friend-check" ng-if="friend.selected">
                                    <i class="mdi mdi-check"></i>
                                </div>
                            </div>

                            <!-- if no vk -->
                            <div class="friends-connect" ng-if="!currentUser.vkontakte.token">
                                <a class="btn btn-block btn-social btn-vk" href="/connect/vk">
                                    <i class="fa fa-vk"></i>
                                    Подключить Вконтакте
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </section>

        </div><!-- end screen two -->
        <!-- end form -->
    </div> <!-- end body -->

    <div class="modal-footer">
        <section layout-align="center center" class="buttons" ng-show="screenOne">
            <div>
                <md-button class="md-raised md-primary" ng-click="changeScreen()"
                           ng-disabled="meetingData.$invalid || !formData.title.length || geocoderFailed || invalidAdress">Пригласите участников</md-button>
            </div>
        </section>
        <section layout-align="center center" class="buttons" ng-show="!screenOne">
            <div>
                <md-button class="md-raised md-primary" ng-click="saveMeeting(meetingData);ok()">Создать</md-button>
            </div>
        </section>
    </div>

</form>