<md-toast>
    <a href="meetings/{{notification.meeting._id}}" target="_blank"><span flex>Приглашение от <a href="users/{{notification.owner._id}}" target="_blank">{{notification.owner.name}}</a> !</span></a>
    <!--У вас новое приглашение!-->
    <md-button ng-click="closeToast()">
        X
    </md-button>
</md-toast>