Приглашение от <a href="users/{{addedNotification.owner._id}}" target="_blank">{{addedNotification.owner.name}}</a> ! <br>
<a href="meetings/{{addedNotification.meeting._id}}" target="_blank">{{addedNotification.meeting.title}}}}</a>
